<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <title>AngularJs ToDo</title>
  <link rel="stylesheet" href="resources/css/main.css">

  <script src="resources/js/lib/angular.js"></script>
  <script src="resources/js/main.js"></script>
</head>
<body ng-app="todoApp" ng-controller="TodoCtrl">

<h1>To-Do List</h1>

  <ul id="todos">
    <li ng-repeat="todo in todos" ng-class="{done: todo.done}">
      <input type="checkbox" ng-model="todo.done" />
      {{todo.description}}
    </li>
  </ul>
  <input type="text" item" ng-model="newTodoDesc"/>  
  <button ng-click="addTodo(newTodoDesc)">Add todo item</button>

  <p>
    <a href="#" ng-click="deleteDone()">Delete completed items</a>
  </p>

</body>
</html>
